.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.DS_Store
*Final.html
*scratch.R
*scratch2.Rmd
*Final_cache/
*Final_files/
*Presentation-figure/smt3.html
*Presentation-figure/smt5.html
*Presentation-figure/te1.html
*Presentation-figure/te2.html
Final.log